/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

/* Var START */
:root{
/* COLORS */
    --content-color: #141922;
    --footer-color: #282828;
    --aside-color: black;
    --color-white: rgb(185, 185, 185);
/* SPACING */
    --elements-spacing: 10px 0;
}
/* Var END */


/* TEXT START */
.bold{
    font-weight: bolder;
}

.slightly-bigger-txt{
    font-size: 14px;
}
/* TEXT END */


/* FONT-AWESOME START */
.font-awesome-icon{
margin-right: 10px;

}

/* FONT-AWESOME END */

/* ICONS START */
.icon-svg-small{
    width: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.icon-svg-big{
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}

#special-svg-profile{
    background-color: gray;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
}
/* ICONS END */


/* UTILITIES START  */
/* COLORS START*/
.white{
    color: white;
}
/* COLORS END */


/* MEASUREMENTS START */
.padded-in{
    padding: 20px;
}

/* MEASUREMENTS END */


/* FLEX START */
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex: 0 1 calc(100% /6 - 20px);
    margin: 0 20px 15px 0;
}
/* FLEX END */


/* BUTTONS START */
button{
    padding: 0.6rem 1.5rem;
    background-color: transparent;
    border-radius: 22px;
    border-color: white;
    cursor: pointer;
    font-size: 12px;
}
/* BUTTONS END */
/* UTILITIES END */



/* ***********DEBUG************ */

.debug{
    color: white;  
    border: dashed 1px white;
}

.d-box{
    background-color: orange;
    padding: 20px;
}

