/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Var START */
:root{
    --content-color: #141922;
    --footer-color: #282828;
    --aside-color: black;
}
/* Var END */


/* TEXT START */

/* TEXT END */


/* FONT-AWESOME START */

/* FONT-AWESOME END */



/* UTILITIES START  */
/* COLORS START*/

/* COLORS END */


/* MARGIN-PADDING START */
.padded-in{
    padding: 20px;
}
/* MARGIN-PADDING END */


/* FLEX START */

/* FLEX END */


/* BUTTONS START */

/* BUTTONS END */
/* UTILITIES END */



/* ***********DEBUG************ */

.debug{
    color: white;  
    
}

.d-box{
    background-color: orange;
    padding: 20px;
}

