/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Var START */
:root{
    --content-color: #141922;
    --footer-color: #282828;
    --aside-color: black;
    --color-white: white;
}
/* Var END */


/* TEXT START */

/* TEXT END */


/* FONT-AWESOME START */


/* FONT-AWESOME END */

/* ICONS START */
.icon-svg-small{
    width: 16px;
    vertical-align: bottom;
    margin-right: 5px;
}

.icon-svg-big{
    width: 20px;
    vertical-align: bottom;
    margin-right: 5px;
}

#special-svg-profile{
    background-color: gray;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 5px;
    vertical-align: bottom;
}
/* ICONS END */


/* UTILITIES START  */
/* COLORS START*/
.white{
    color: var(--color-white);
}
/* COLORS END */


/* MEASUREMENTS START */
.padded-in{
    padding: 20px;
}
/* MEASUREMENTS END */


/* FLEX START */
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    flex: 0 1 calc(100% /6 - 20px);
    margin: 0 20px 15px 0;
}
/* FLEX END */


/* BUTTONS START */
button{
    padding: 0.6rem 1.5rem;
    background-color: transparent;
    border-radius: 22px;
    border-color: white;
    cursor: pointer;
}


/* BUTTONS END */
/* UTILITIES END */



/* ***********DEBUG************ */

.debug{
    color: white;  
    border: dashed 1px white;
}

.d-box{
    background-color: orange;
    padding: 20px;
}

