/*==============BREAK 1 (TABLET) START=================== */
@media screen and (max-width: 1100px){
/*--------------- MAIN START --------------- */
/* ----------- #CONTENT START ---------- */
.col{
    flex: 0 1 calc(100% / 4 - 20px);
    margin: 0 20px 15px 0;
}
/* ----------- #CONTENT END ---------- */
/*--------------- MAIN END --------------- */
}
/*==============BREAK 1 (TABLET) END=================== */


/*==============BREAK 2 (MOBILE L) START=============== */
@media screen and (max-width: 700px) {
/*--------------- MAIN START --------------- */
/* ----------- CONTENT START ---------- */
.col{
    flex: 0 1 calc(100% / 2 - 20px);
    margin: 0 20px 15px 0;
}
/* ----------- CONTENT END ---------- */
/*--------------- MAIN END ---------------*/


/*--------------- FOOTER START ---------------*/
.playing >div:last-of-type{
    display: flex;
    flex-direction: column;
}
/*--------------- FOOTER END ---------------*/
}
/*==============BREAK 2 (MOBILE L) END=============== */



/*==============BREAK 3 (MOBILE M) START=============== */
@media screen and (max-width: 600px) {
/*--------------- MAIN START --------------- */
/* ------- ASIDE START ------ */
aside{
    width: 60px;
}

aside span,
aside ul,
aside h4,
aside #create-playlist,
aside .logo-container,
aside hr{
    display: none;
}

#nav-top .logo-container2{
    display: block;
}
/*---------- ASIDE END --------*/


/*--------------- MAIN START --------------- */
/* ----------- CONTENT START ---------- */
#content{
    width: calc(100vw - 60px);
}
/* ----------- CONTENT END ---------- */
/*--------------- MAIN END ---------------*/
}
/*==============BREAK 3 (MOBILE M) END=============== */
    