/*--------------- MAIN START --------------- */
main{
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
}
/* ------- ASIDE START ------ */
aside{
    width: 250px;
    background-color: var(--aside-color);
}

aside a{
    text-decoration: none;
    color: var(--color-white);
    display: block;
}

aside{
    min-height: 400px;
}

/* ASIDE-NAV-TOP START */
#nav-top{
    height: calc(100% - 80px);
}

#nav-top .logo-container{
    width: 150px;
}

#nav-top .logo-container img{
    width: 100%;
}

aside ul{
    overflow: auto;
    background-color: var(--aside-color);
    height: calc(80vh - 260px);
}
/* ASIDE-NAV-TOP END */


/* ASIDE-NAV-BOTTOM START */
#nav-bottom{
    height: 80px;
    position: relative;
    z-index: 8;
    background-color: var(--aside-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
/* ASIDE-NAV-BOTTOM END */
/*---------- ASIDE END --------*/

/* ----------- CONTENT START ---------- */
#content{
    width: calc(100vw - 250px);
    background-color: var(--content-color);
    overflow: auto;
}

/* MAIN-HEADER START*/
#content header{
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color: rgba(3, 3, 3, 0.5);
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

/* MAIN-HEADER END*/


/* MAIN-NAV START */
#content ul{
    list-style: none;
    text-align: center;
}

#content ul li{
    display: inline-block;
}
/* MAIN-NAV END */


/* SECTION 1-RECENTLY PLAYED START */
#recently img{
    width: 100%;
    height: 100%;
}
/* SECTION 1-RECENTLY PLAYED END */


/* SECTION 2-CREATO PER JOHN DOE START */

/* SECTION 2-CREATO PER JOHN DOE END */


/* SECTION 3-ARTISTI PIU POPOLARI START */

/* SECTION 3-ARTISTI PIU POPOLARI END */
/* ----------- CONTENT END ---------- */
/*--------------- MAIN END ---------------*/


/*--------------- FOOTER START ---------------*/
#player{
    background-color: var(--footer-color);
    height: 100px;
    position: relative;
    z-index: 20;
}

#player .wrapper{
    display: flex;
    justify-content: space-between;
}
/*--------------- FOOTER END ---------------*/


